* {
  padding: 0;
  margin: 0;
  font-family: "Courgette", cursive;
  box-sizing: border-box;
}

body {
  background: url(../Images/1926736.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-part {
  display: flex;
  margin: 20px 0px;
}

.heading-part .heading-image {
  flex: 50%;
}
.heading-image img {
  display: block;
  margin: 0 auto;
}

.heading-part .heading-content {
  flex: 60%;
  margin-top: 30px;
}

.heading-content h2 {
  text-align: center;
  padding: 20px 0;
  color: #000000;
}

.heading-content .card {
  display: block;
  margin: 0 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 10px;
}
.heading-content .card:hover {
  box-shadow: 0 6px 8px 0 rgba(82, 38, 38, 0.2);
  background-color: rgb(213, 197, 177);
}

.some-space {
  margin: 30px 0 20px 0;
}

.card p {
  text-align: center;
  font-weight: bold;
  color: #000000;
}
